{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Search{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="search_key">Search Key</label>
    <input name="search_key" id="search_key" value="{{ request.form['search_key'] }} " required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <div>
    <p> Here one may enter a new search. Specfic format will change with app development but for now it's just a string.</p>
    <p> As a resonable example, we may specify author, a time frame, a title or contents</p>
    <p> for example</p>
    <p> author: "hinton", before:1992, title:'boltzman', contains:"in physics, a model that" </p>
  </div>
{% endblock %}
