{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Searches{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('searches.create') }}">New Search</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for search in searches %}
    <article class="search">
      <header>
        <div>
          <h1>{{ search['search_query'] }}</h1>
          <div class="about">created on {{ search['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == search['user_id'] %}
          <a class="action" href="{{ url_for('searches.update', id=search['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('searches.delete', id=search['id']) }}">Delete</a>
        {% endif %}
      </header>
      {% if search['results'] %}
        <h2>Search Results:</h2>
        {% for result in search['results'] %}
          <div class="search-result">
            <h3>{{ result['title'] }}</h3>
            <p>Authors: {{ result['authors']|join(', ') }}</p>
            <p>
              <a href="{{ result['arxiv_url'] }}" target="_blank">Abstract</a> | 
              <a href="{{ result['pdf_url'] }}" target="_blank">PDF</a> |
              <a class="action" href="{{ url_for('searches.summary', id=result['id']) }}">Summary</a>
            </p>
          </div>
          {% if not loop.last %}<hr>{% endif %}
        {% endfor %}
      {% else %}
        <p class="body">No results this search</p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  <div>
    <h1>User Instructions:</h1>
    <p>Here one may enter searches that are recorded under the logged in user id</p>
    <p>Search results will appear under each search query</p>
  </div>
{% endblock %}
