{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Searches{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('searches.create') }}">New Search</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for search in searches %}
    <article class="search">
      <header>
        <div>
          <h1>{{ search['search_key'] }}</h1>
          <div class="about">created on {{ search['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == search['author_id'] %}
          <a class="action" href="{{ url_for('searches.update', id=search['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('searches.delete', id=search['id']) }}">Delete</a>
        {% endif %}
      </header>
      <p class="body">{{ search['search_result'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <div>
    <p> Here one may enter searches that are recorded under the logged in user id</p>
    <p> As the app develops, search results will appear here as well, but for now just list 'None'</p>
  </div>
{% endblock %}

