{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Search"{{ search['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="search_query">Search Query</label>
    <input name="search_query" id="search_query"
      value="{{ request.form['search_query'] or search['search_query'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('searches.delete', id=search['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  <hr>
  <div>
    <p> Here one may edit a search or delete it. Specfic format will change with app development but for now it's just a string.</p>
    <p> As a resonable example, we may specify author, a time frame, a title or contents</p>
    <p> for example</p>
    <p> author: "hinton", before:1992, title:'boltzman', contains:"in physics, a model that" </p>
  </div>
{% endblock %}
