{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Search"{{ search['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="search_key">Search Key</label>
    <input name="search_key" id="search_key"
      value="{{ request.form['search_key'] or search['search_key'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('searches.delete', id=search['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
